body{
    background-color: #FAF0E4;;
    text-align: center;
    padding-top: 7%;
    margin: 0% 0% 0% 0%;
    border-bottom: 0%;
    padding-bottom: 0%;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bolder
}

h1{
    color: #001C30;
    font-family: 'Orbit', sans-serif;
}

h2{
    color: #001C30;
    font-family: 'Chakra Petch', sans-serif;
}
h3{
    color: #001C30;
    font-family: 'Chakra Petch', sans-serif;

}

p{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bolder
}

hr{
    border: dotted 6px;
    color: #191917;
    width: 6%;
    border-bottom: none;
    margin: 4% auto 4% auto;
    
}

.profile{
    padding-bottom: 5%;
}
.curr{
    float: left;
    text-align: left;
    height: 20%;
    width: 50%;
    line-height: 1.5;
    padding-bottom: 2%;
}
.und{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 27%;
    top:20%;
    filter: blur(1px);

}

.bottom-cloud{
    position: absolute;
    left:27%;
    top: 45%;
    filter: blur(1px);
}

.mountain{
    filter:blur(1px);
}

.prof-pic{
    margin-top: 3%;
    width: 17%;
    height: 17%;
}

.coding-img{
    float: left;
    width: 50%;
    height: 100%;
    padding-right: 5%;
}
.football-img{
    float: left;
    width: 49%;
    height: 100%;
    padding-right: 5%;
    padding-left: 0%;
    padding-top: 5%;
}
.code-skill{
    margin-top: 10% auto 10% auto;
    text-align: left;
    line-height: 150%;
    float: right;
}
.football-skill{
    margin-top: 10% auto 10% auto;
    text-align: left;
    line-height: 1.5;
    float: right;

}

.last-colour{
    color: #FAF0E4;
    line-height: 1.5;
}
.ai{
    width: 50%;
    height: 50%;
    float: left;
    mix-blend-mode:multiply;
    padding-top: 12%;
}
.btn {
    background: #FAF0E4;
    background-image: -webkit-linear-gradient(top, #FAF0E4, #FAF0E4);
    background-image: -moz-linear-gradient(top, #FAF0E4, #FAF0E4);
    background-image: -ms-linear-gradient(top, #FAF0E4, #FAF0E4);
    background-image: -o-linear-gradient(top, #FAF0E4, #FAF0E4);
    background-image: linear-gradient(to bottom, #FAF0E4, #FAF0E4);
    -webkit-border-radius: 6%;
    -moz-border-radius: 6%;
    border-radius: 60px;
    font-family: 'Orbit', sans-serif;
    color: #001C30;
    font-size: 120%;
    padding: 0.5% 2% 0.5% 2%;
    margin-top: 5%;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #F7E6C4;
    background-image: -webkit-linear-gradient(top, #F7E6C4, #F1C376);
    background-image: -moz-linear-gradient(top, #F7E6C4, #F1C376);
    background-image: -ms-linear-gradient(top, #F7E6C4, #F1C376);
    background-image: -o-linear-gradient(top, #F7E6C4, #F1C376);
    background-image: linear-gradient(to bottom, #F7E6C4, #F1C376);
    text-decoration: none;
  }
.skills{
    width: 50%;
    margin: auto auto 100% auto;
    
}
.last{
    background-color: #001C30;
    padding-top: 2%;
    padding-bottom: 2%;
}
.top-skill{
    padding-bottom: 2%;
}
